.hero {
    background-color: black;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/header_4.jpg") ;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    color: white;
}

.btn:hover {
    border: 1px solid #ffdc0c !important;
}

.btn:hover i {
    color: #ffdc0c !important;
}

.hero img {
    width: 100px;
    position: absolute;
    bottom: 10px;
    right: 30px;
}